<footer class="">
  <div class="bg-gray-4000">
    <div class="container px-md-5">
      <div class="d-flex flex-wrap align-items-center pt-6 pb-3d border-bottom mb-7 border-gray-4100">
        <a href="" class="mb-4 mb-md-0 mr-auto">
          <span class="logo-footer">KenhDoc.Com</span>
        </a>
        <ul class="list-unstyled mx-n3 mb-0 d-flex flex-wrap align-items-center">
          <li class="px-3">
            <a href="https://www.facebook.com/bookreview.kenhdoc" target="_blank" class="text-gray-1300 d-flex flex-wrap align-items-center"><i class="fab fa-facebook-f fa-inverse"></i> <span class="ml-2">Facebook</span></a>
          </li>
          <li class="px-3">
            <a href="#" class="text-gray-1300 d-flex flex-wrap align-items-center"><i class="fab fa-instagram fa-inverse"></i> <span class="ml-2">Instagram</span></a>
          </li>
          <li class="px-3">
            <a href="https://www.youtube.com/channel/UCNvi5RN6OLYmaNcnSdLtM4w" class="text-gray-1300 d-flex flex-wrap align-items-center"><i class="fab fa-youtube fa-inverse"></i> <span class="ml-2">Youtube</span></a>
          </li>
        </ul>
      </div>
      <div class="row pb-5">
        <div class="col-md mb-10 mb-md-0">
          <h4 class="font-size-18 font-weight-medium mb-4 text-gray-4200">__Quotes</h4>
          <p class="h-g-white">
            <i>"Một cuốn sách thực sự hay nên đọc trong tuổi trẻ, rồi đọc lại khi đã trưởng thành, và một nữa lúc tuổi già, giống như một tòa nhà đẹp nên được chiêm ngưỡng trong ánh bình minh, nắng trưa và ánh trăng."</i>
            <b>– Robertson Davies –</b>
          </p>

          <p class="h-g-white">
            <i>"Số lượng sách cứ tiếp tục lớn dần lên và ta có thể dự đoán rằng rồi sẽ đến lúc học được từ sách cũng khó như học toàn bộ vũ trụ. Rồi tìm kiếm từng chút sự thật ẩn dấu trong tự nhiên cũng sẽ thuận tiện như tìm nó giữa vô vàn chồng sách."</i>
            <b>– Denis Diderot –</b>
          </p>

          <p class="h-g-white">
            <i>"Việc đọc rất quan trọng. Nếu bạn biết cách đọc, cả thế giới sẽ mở ra cho bạn."</i>
            <b>– Barack Obama –</b>
          </p>

        </div>
        <div class="col-md-2 mb-5 mb-md-0 border-left border-gray-4100">
          <div class="ml-1">
            <h4 class="font-size-18 font-weight-medium mb-4 text-gray-4200">Hỗ trợ</h4>
            <ul class="list-unstyled mb-0">
              <li class="py-1d">
                <a class="h-g-white" href="<%= about_us_path %>">Giới thiệu về kênh đọc</a>
              </li>
              <li class="py-1d">
                <a class="h-g-white" href="<%= faq_path %>">FAQ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-4300">
    <div class="container px-md-5">
      <div class="text-center d-md-flex flex-wrap align-items-center py-3">
        <div class="font-size-13 text-gray-1300 mb-2 mb-md-0">Copyright © 2020 kenhdoc.com</div>
      </div>
    </div>
  </div>
</footer>
