<footer class="">
  <div class="bg-gray-4000">
    <div class="container px-md-5">
      <div class="d-flex flex-wrap align-items-center pt-6 pb-3d border-bottom mb-7 border-gray-4100">
        <a href="index.html" class="mb-4 mb-md-0 mr-auto">
          <span class="logo-footer">KenhDoc.Com</span>
        </a>
        <ul class="list-unstyled mx-n3 mb-0 d-flex flex-wrap align-items-center">
          <li class="px-3">
            <a href="https://www.facebook.com/kenhdoc.bookreview" target="_blank" class="text-gray-1300 d-flex flex-wrap align-items-center"><i class="fab fa-facebook-f fa-inverse"></i> <span class="ml-2">Facebook</span></a>
          </li>
          <li class="px-3">
            <a href="#" class="text-gray-1300 d-flex flex-wrap align-items-center"><i class="fab fa-instagram fa-inverse"></i> <span class="ml-2">Instagram</span></a>
          </li>
          <li class="px-3">
            <a href="#" class="text-gray-1300 d-flex flex-wrap align-items-center"><i class="fab fa-youtube fa-inverse"></i> <span class="ml-2">Youtube</span></a>
          </li>
        </ul>
      </div>
      <div class="row pb-5">
        <div class="col-md mb-5 mb-md-0">
          <h4 class="font-size-18 font-weight-medium mb-4 text-gray-4200">Movie Categories</h4>
          <ul class="column-count-2 v2 list-unstyled mb-0">
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/movies.html">Action</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/movies.html">Adventure</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/movies.html">Animation</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/movies.html">Comedy</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/movies.html">Crime</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/movies.html">Drama</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/movies.html">Fantacy</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/movies.html">Horror</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/movies.html">Mystrey</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/movies.html">Romance</a>
            </li>
          </ul>
        </div>
        <div class="col-md mb-5 mb-md-0">
          <h4 class="font-size-18 font-weight-medium mb-4 text-gray-4200">TV Series</h4>
          <ul class="column-count-2 v2 list-unstyled mb-0">
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/tv-shows.html">Valentine Day</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/tv-shows.html">Underrated Comedies</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/tv-shows.html">Scary TV Series</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/tv-shows.html">Best 2020 Documentaries</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/tv-shows.html">Classic Shows</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/tv-shows.html">Big TV Premieres</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/tv-shows.html">Reality TV Shows</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/tv-shows.html">Original Shows</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/tv-shows.html">Suprise of the Year Shows</a>
            </li>
            <li class="py-1d">
              <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/archive/tv-shows.html">Top 10 TV Shows</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 mb-5 mb-md-0 border-left border-gray-4100">
          <div class="ml-1">
            <h4 class="font-size-18 font-weight-medium mb-4 text-gray-4200">Support</h4>
            <ul class="list-unstyled mb-0">
              <li class="py-1d">
                <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/static/contact.html">My Account</a>
              </li>
              <li class="py-1d">
                <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/static/contact.html">FAQ</a>
              </li>
              <li class="py-1d">
                <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/static/contact.html">Watch on TV</a>
              </li>
              <li class="py-1d">
                <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/static/contact.html">Help Center</a>
              </li>
              <li class="py-1d">
                <a class="h-g-white" href="https://demo2.madrasthemes.com/vodi-html/html-demo/static/contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-4300">
    <div class="container px-md-5">
      <div class="text-center d-md-flex flex-wrap align-items-center py-3">
        <div class="font-size-13 text-gray-1300 mb-2 mb-md-0">Copyright © 2020, kenhdoc.com All Rights Reserved</div>
        <a href="" class="font-size-13 h-g-white ml-md-auto">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
