<section class="mb-6 mb-xl-9 pb-xl-1">
  <div class="container px-md-5">
    <div class="mx-md-1">
      <div class="row">
        <div class="col-lg-12">
          <div class="mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-between mb-4 pb-1">
              <h5 class="font-size-24 font-weight-medium font-secondary mb-0">Review tổng hợp</h5>
              <div class="border-top col p-0 mx-3 border-gray-3600"></div>
              <a href="#" class="h-g-primary font-size-1 font-weight-medium font-secondary">Xem tất cả</a>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="mb-5 mb-xl-0">
                  <a class="d-block mb-3 pb-1" href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">
                    <img class="img-fluid" src="../../assets/img/345x270/img1.jpg" alt="Image-Description" />
                  </a>
                  <h6 class="product_title font-size-22 font-weight-semi-bold font-secondary text-lh-1dot25 mb-1">
                    <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">Whats More, That Isnt Even The Only Possible Callback</a>
                  </h6>
                  <div class="mb-2 pb-1">
                    <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="font-weight-bold font-size-13">
                      <span>TV Series</span>
                    </a>
                    <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                      <span>August 5 2020</span>
                    </a>
                  </div>
                  <p class="font-size-1 mb-0">
                    Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.
                  </p>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="d-md-flex mb-4">
                  <a class="d-block mb-3 mb-md-0" href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">
                    <img class="img-fluid" src="../../assets/img/175x115/img1.jpg" alt="Image-Description" />
                  </a>
                  <div class="ml-md-3">
                    <h6 class="product_title font-size-17 font-weight-semi-bold font-secondary text-lh-1dot25 mb-1">
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">Whats More, That Isnt Even The Only Possible Callback</a>
                    </h6>
                    <div class="mb-2 pb-1">
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="font-weight-bold font-size-13">
                        <span>TV Series</span>
                      </a>
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                        <span>August 5 2020</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="d-md-flex mb-4">
                  <a class="d-block mb-3 mb-md-0" href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">
                    <img class="img-fluid" src="../../assets/img/175x115/img2.jpg" alt="Image-Description" />
                  </a>
                  <div class="ml-md-3">
                    <h6 class="product_title font-size-17 font-weight-semi-bold font-secondary text-lh-1dot25 mb-1">
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">Whats More, That Isnt Even The Only Possible Callback</a>
                    </h6>
                    <div class="mb-2 pb-1">
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="font-weight-bold font-size-13">
                        <span>TV Series</span>
                      </a>
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                        <span>August 5 2020</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="d-md-flex mb-0">
                  <a class="d-block mb-3 mb-md-0" href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">
                    <img class="img-fluid" src="../../assets/img/175x115/img3.jpg" alt="Image-Description" />
                  </a>
                  <div class="ml-md-3">
                    <h6 class="product_title font-size-17 font-weight-semi-bold font-secondary text-lh-1dot25 mb-1">
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">Whats More, That Isnt Even The Only Possible Callbackg</a>
                    </h6>
                    <div class="mb-2 pb-1">
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="font-weight-bold font-size-13">
                        <span>TV Series</span>
                      </a>
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                        <span>August 5 2020</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="d-md-flex mb-4">
                  <a class="d-block mb-3 mb-md-0" href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">
                    <img class="img-fluid" src="../../assets/img/175x115/img1.jpg" alt="Image-Description" />
                  </a>
                  <div class="ml-md-3">
                    <h6 class="product_title font-size-17 font-weight-semi-bold font-secondary text-lh-1dot25 mb-1">
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">Whats More, That Isnt Even The Only Possible Callback</a>
                    </h6>
                    <div class="mb-2 pb-1">
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="font-weight-bold font-size-13">
                        <span>TV Series</span>
                      </a>
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                        <span>August 5 2020</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="d-md-flex mb-4">
                  <a class="d-block mb-3 mb-md-0" href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">
                    <img class="img-fluid" src="../../assets/img/175x115/img2.jpg" alt="Image-Description" />
                  </a>
                  <div class="ml-md-3">
                    <h6 class="product_title font-size-17 font-weight-semi-bold font-secondary text-lh-1dot25 mb-1">
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">Whats More, That Isnt Even The Only Possible Callback</a>
                    </h6>
                    <div class="mb-2 pb-1">
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="font-weight-bold font-size-13">
                        <span>TV Series</span>
                      </a>
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                        <span>August 5 2020</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="d-md-flex mb-0">
                  <a class="d-block mb-3 mb-md-0" href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">
                    <img class="img-fluid" src="../../assets/img/175x115/img3.jpg" alt="Image-Description" />
                  </a>
                  <div class="ml-md-3">
                    <h6 class="product_title font-size-17 font-weight-semi-bold font-secondary text-lh-1dot25 mb-1">
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html">Whats More, That Isnt Even The Only Possible Callbackg</a>
                    </h6>
                    <div class="mb-2 pb-1">
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="font-weight-bold font-size-13">
                        <span>TV Series</span>
                      </a>
                      <a href="https://demo2.madrasthemes.com/vodi-html/html-demo/blog/blog-single.html" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                        <span>August 5 2020</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
