::-webkit-scrollbar {
  width: 7px
}

::-webkit-scrollbar-track {
  background-color: #eee
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
  background: #333
}

@font-face {
  font-family: "myFirstFont";
  src: font-url("anita-semi-square.ttf") format('truetype');
}

.logo,
.logo-footer {
  font-family: "myFirstFont";
  font-size: 28px;
  position: relative;
}

.logo:after,
.logo:before {
  content:"";
  position:absolute;
  top:50%;
  width:5px;
  height:100%;
  transform:translateY(-50%);
  background-color:rgba(255,255,255,.75);
  z-index:999999999
}

.logo-footer:after,
.logo-footer:before {
  content:"";
  position:absolute;
  top:50%;
  width:5px;
  height:100%;
  transform:translateY(-50%);
  background-color: rgba(10,13,20,1);
  z-index:999999999
}


.logo:before,
.logo-footer:before {
  left:-5%;
  animation: light-left 2.5s infinite alternate linear
}
.logo:after,
.logo-footer:after {
  right:-5%;
  animation: light-right 2.5s infinite alternate linear
}

@keyframes light-left{0%{left:-5%;opacity:0}50%{left:50%;opacity:1}to{left:105%;opacity:0}}
@keyframes light-right{0%{right:-5%;opacity:0}50%{right:50%;opacity:1}to{right:105%;opacity:0}}

.display-65 {
  font-size: 1.65rem;
}

@media screen and (max-width: 767px) {
  .slick-arrow-right {
    right: 30px !important;
  }
  .slick-arrow-svg-left {
    left: 30px !important;
  }
}
